.wrap_main{
  background:#2f2f2f;
}
.ui-div{
  position:relative;
  display:inline-block;
  background:#8f8f8f;
  margin:20px;
  outline:2px solid white;
}
.image-div-grid{
    background-image:
      linear-gradient(45deg, #bbb 25%, transparent 25%), 
      linear-gradient(135deg, #bbb 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #bbb 75%),
      linear-gradient(135deg, transparent 75%, #bbb 75%);
    background-size:25px 25px; /* Must be a square */
    background-position:0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px; /* Must be half of one side of the square */
}
.image-div-grid-px{
  position:absolute;
  width:32px;
  height:32px;
}
.image-color-pick{

}
.image-color-pick-div{
  position:absolute;
  width:32px;
  height:32px;
}