
.ui-div{
  position:relative;
  display:inline-block;
  margin:20px;
}
.image-div-grid{
  background:gray;
}
.image-div-grid-px{
  position:absolute;
  width:32px;
  height:32px;
}
.image-color-pick{
  background:gray;
}
.image-color-pick-div{
  position:absolute;
  width:32px;
  height:32px;
}