table{
  width:100%;
}
td{
  background:#8f8f8f;
  text-align:center;
}
.wrap_main{
}
.wrap_menu{
  padding:10px;
  background:#afafaf;
}
.navbar{
  padding:5px;
  text-align:center;
  background:gray;
}