<html>
  <head>
    <title>vue el example</title>
    <script src="/js/vuejs/2.6.10/vue.js"></script>
  </head>
  <body>
  <div id="app"></div>
  <script>
new Vue({
    el: '#app',
    template: '<div>'+
        '<div v-for="obj in pool">' +
            '<p v-if="obj.active">{{obj.mess}}</p>' +
        '</div>' +
    '</div>',
    data: {
        pool: []
    },
    created: function(){
        this.$data.pool = this.createPool(5);
        this.useNext('Hello World');
        this.useNext('This is an object pool');
    },
    methods: {
        useNext: function(mess){
            var obj = this.getNextActiveState(false);
            if(obj){
                obj.active = true;
                obj.mess = mess || '';
            }
        },
        getNextActiveState: function(state){
            state = state === undefined ? false: state;
            var i = 0,
            obj,
            len = this.$data.pool.length;
            while(i < len){
                obj = this.$data.pool[i];
                if(obj.active === state){
                    return obj;
                }
                i += 1;
            }
            return false;
        },
        createPool: function(size){
            var i = 0,
            pool = [];
            while(i < size){
                pool.push({
                    active: false,
                    mess: 'none'
                });
                i += 1;
            }
            return pool;
        }
    }
});
  </script>
  </body>
</html>